<h1>Notícias</h1>


<% @messages.each do |message| %>
  <p><%= link_to message.title, message_path(message) %>
    <% if can? :manage, :all %>
      - 
      <%= link_to "Adicionar Fotos", upload_images_path(message), class: "btn btn-small btn-primary" %>
      <%= link_to "Editar Fotos", message_view_photos_path(message), class: "btn btn-small" %>
    <% end %>
  </p>
<% end %>

<%  if can? :manage, @message %>
  <%= link_to 'Nova notícia', new_message_path %>
<% end %>
