<p>Olá, <%= @photographer.name %> </p>

<p>Seu cadastro foi efetuado e está em análise, assim que confirmado, você receberá um email avisando que seu cadastro está ativo.</p>

<p>Obrigado</p>
<p>Diário da Ilha</p>
