<h1>Adicionar fotos à esta notícia</h1>

<%= form_for NewsPhoto.new do |f| %>
  <%= f.hidden_field :message_id, :value => @message.id %>
  <%= f.label :image, "Uploade de imagens:" %>
  <%= f.file_field :image, multiple: true, name: "news_photo[image]" %>
<% end %>

<div id="photo" class="span12 centralize">
  <script id="template-upload" type="text/x-tmpl">
      <div class="upload">
          {%=o.name%}
          <div class="progress">
              <div class="bar" style="width: 0%;"></div>
          </div>
      </div>
  </script> 
</div>
