<p>Olá <%= @resource.email %>!</p>

<p>Foi recebida uma requisição para alterar sua senha, clique abaixo para confirmar a alteração</p>

<p><%= link_to 'Alterar senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Caso você não tenha feito essa requisição, ignore esse email</p>
<p>Sua senha não mudará até você acessar o link acima</p>
