<h1 class='page-title'> Quem Somos </h1>            	
<div class='about'>

	<div class='image-about'>
			<%= image_tag("leftarrow.png", :alt => "<<", :class => "leftarrow") %>	
			<%= image_tag("foto_quem.png", :alt => "foto_quem", :class => "main") %>
			<%= image_tag("rightarrow.png", :alt => ">>", :class => "rightarrow") %>
	</div>

	<h2 class='page-subtitle'>Sobre o diário da ilha</h2>

	<p class='page-subsubtitle'>Alguma informação mais importante</p>
	<p>
		O DIÁRIO DA ILHA foi criado para ajudar o surfista amador, disponibilizando serviços essenciais para a prática deste esporte, como o Boletim do Mar onde diariamente são destacadas as condições do mar, e avaliação para a prática de atividades marítimas e ao ar livre. Além disso, você pode encontrar aqui informações sobre as modalidades, competições, cultura, mercado e tudo que de alguma forma pode interessar quem acompanha este esporte.
	</p>

	<p>
		Somos surfistas que junto com fotógrafos acompanhamos, registramos e divulgamos o surf nas praias de Floripa e região.
	</p>

	<p>
		Neste site você terá a oportunidade de acompanhar os registros fotográficos dos melhores swells que atingem o litoral catarinense, encontrando apoio para a evolução do seu surf.
	</p>

	<p>
		Através deste site, atletas e amadores terão também a oportunidade de obter e exibir seus resultados, inclusive para potenciais patrocinadores, baixando suas fotos de surf, e eventualmente comprando suas fotos em melhor resolução.
	</p>

	<p>
		Também disponibilizamos, sob consulta, material para agências de Publicidade, e ainda estamos disponíveis para coberturas fotográficas e para divulgação de eventos.
	</p>

	<p>
		Você também pode contratar aqui um fotógrafo para registrar seu free-surf, surf-trip ou treino.
	</p>

	<p>
		Para nossa equipe é um imenso prazer trabalhar nesse novo projeto. Esperamos que o nosso público aproveite e contribua para que possamos melhorar cada vez mais nossos serviços.
	</p>
</div>