<div class="row-fluid">
  <div class="span12">
    <ul>

      <li><%= link_to "Editar conteúdo das páginas", contents_path %></li>

      <li><%= link_to "Ver currículos", work_with_us_path %></li>

      <li><%= link_to "Ver contatos realizados", contacts_path %></li>

      <li><%= link_to "Ver Fotógrafos cadastrados", photographers_path %></li>
    </ul>
  </div>
</div>