<div class="advertise">


<h1 class="page-title">Anuncie Aqui</h1>

<p>O site DIÁRIO DA ILHA disponibiliza diferentes planos de anúncios que certamente vão se encaixar na faixa de orçamento de marketing de sua empresa.</p>

<h2 class="page-subtitle">BANNERS DISPONÍVEIS:</h2>

<h3>Banner do Topo: </h3>

<p>Este banner aparece logo no topo, ao lado da logomarca do site, em todas as páginas. Possui o tamanho de <span class="emph">728 pixels de largura por 90 pixels de altura</span>, podendo se expandir para baixo <span class="emph">até 400 pixels de altura</span> quando o usuário passa o mouse sobre ele. </p>

<h3>Banner Retangular Pequeno do lado Direito: </h3>

<p>Existem 3 espaços reservados para banners Retangulares <span class="emph">(130 x 300 pixels)</span> na lateral direita. Sempre neste espaço o seu banner irá aparecer durante todas as impressões do site, de forma aleatória com outros banners e de acordo com uma distribuição no tempo (exceto nas páginas de busca e compra de fotos).</p>

<h3>Banner Quadrado direito:</h3>

<p>Para banners Quadrados <span class="emph">(300 x 300 pixels)</span> na lateral direita, o espaço será ocupado durante todo o tempo pelo seu banner. Com exceção das páginas de busca e compra de fotos, seu banner irá aparecer durante TODAS as impressões do site, diferentemente do banner retangular pequeno, aonde a aparição de seu banner irá ocorrer aleatoriamente de acordo com uma distribuição aleatória no tempo.</p>

<h3>Banner Retangular Grande do lado Direito: </h3>

<p>Para banners Retangulares Grandes <span class="emph">(300 x 728 pixels)</span> na lateral direita, o espaço será ocupado durante todo o tempo pelo seu banner. Com exceção das páginas de busca e compra de fotos, seu banner irá aparecer durante TODAS as impressões do site, diferentemente do banner retangular pequeno, aonde a aparição de seu banner irá ocorrer aleatoriamente de acordo com uma distribuição aleatória no tempo.</p>

<h3>Banner Retangular Central: </h3>

<p>Para o banner Retangular Central <span class="emph">(300 x 728 pixels)</span> localizado apenas no centro da página principal (HOME), o espaço será ocupado durante todo o tempo pelo seu banner. podendo se expandir para baixo <span class="emph">até 400 pixels de altura</span> quando o usuário passa o mouse sobre ele. </p>

<p>Aqui você vai encontrar um ótimo custo / benefício para sua campanha, faça uma cotação de nossos preços e se surpreenda.</p>

</div>