<div class="how_buy">
	
	<h1 class="page-title">Como comprar fotos</h1>

	<p>Para comprar suas fotos de surf através do site é simples, basta você estar cadastrado (nome, e-mail, telefone e senha). Uma vez cadastrado utilize seu e-mail no campo “USUÁRIO” e entre com a senha que você cadastrou.</p>

	<p>Feito o login, basta encontrar a(s) foto(s) desejada(s), e ir adicionando-as ao seu carrinho de compras.</p> 
	<p>Para finalizar seu pedido, visualize seu carrinho de compras clicando <a href="http://diariodailha2.herokuapp.com/sale/view_sale">aqui</a>. Ali você poderá visualizar todas as fotos escolhidas, e optar pela forma que deseja receber sua(s) foto(s) (em meio digital por e-mail, e/ou impressas via correio).</p> 

	<p>Ao clicar em “finalizar pedido”, você receberá por e-mail as informações de como prosseguir a compra. Você deverá efetuar o depósito do valor calculado conforme os dados bancários encaminhados via e-mail. Efetue o depósito e encaminhe o comprovante retornando o e-mail recebido (para: pagamento@diariodailha.com.br).</p>

	<p>Nossa equipe vai verificar a efetivação do depósito e realizar o tratamento final da foto em até dois dias úteis, para encaminhar sua foto naquele mesmo e-mail do seu cadastro. Se você optou por receber as fotos impressas, as mesmas serão enviadas via correios. O endereço da entrega será solicitado também via e-mail.</p>

	<p>Qualquer dúvida entre em contato com a gente pelo telefone (48) 9999-9999 ou pelo e-mail contato@diariodailha.com.br.</p>

	<div class="row-fluid">
		<div class="span7">			
			<%= render "users/registrations/form" %>			
		</div>
		<div class="span5 allsize">
			<%= render "users/sessions/form" %>
		</div>
	</div>

</div>