<h1 class='page-title'> Como compra fotos </h1>             

<div class="how_to_buy_photos">
   
  <%= raw Content.where(:name => "como_comprar_fotos").first.body %>

  <%= render "users/sessions/form" %>

  <%= render "users/registrations/form" %>

</div>