<div class='row-fluid'>
    <div class='span12'>
        <div class='top-info btn-large' id='top-info'>
	        #top-info
        </div>
    </div>
</div>



<div class='container-fluid'>
	<div class='body'>
		<div class='content'>    
        	<h1> Site fenomenal </h1>    
        	Loren ipsus
        	<% if photographer_signed_in? %>
        		<%= link_to "Log out", destroy_photographer_session_path, :method => :delete %>
        	<% else %>
        		<%= link_to "Sign in", new_photographer_session_path %>
        		<%= link_to "Sign Up", new_photographer_registration_path %>
        	<% end %>
        </div>
    </div>
</div>