<div class='container-fluid'>
	<div class='body'>
		<div class='content'>    
        	<h1 class='page-title'> Termos de Uso </h1>            	

            <h2 class='page-subtitle'>OBJETIVO</h2>

            <p>
                O site DIARIODAILHA.COM.BR, ou simplesmente “DIÁRIO DA ILHA” pertence à NOAN SERVIÇOS FOTOGRÁFICOS, e é um site de notícias e uma comunidade virtual que tem como objetivo facilitar e registrar a prática de surf.
            </p>

            <p>A utilização deste site atribui a você a condição de USUÁRIO e implica
            na aceitação plena e sem reservas de todos os itens deste Termo de Uso na
            versão publicada no momento da utilização. Portanto o USUÁRIO deve ler
            atentamente este Termo de Uso sempre que utilizar o site, pois este pode ser
            modificado.</p>

            <p>A disponibilidade de conteúdos e serviços do DIÁRIO DA ILHA tem
                caráter gratuito para os USUÁRIOS. No entanto, alguns serviços oferecidos
                pelo DIÁRIO DA ILHA ou por terceiros através do site podem ser cobrados
                nas formas e valores determinadas por Condições Particulares próprias que,
                conforme o caso, substituem, complementam e/ou modificam este Termo de
                Uso. Portanto o USUÁRIO deverá ler as respectivas Condições Particulares
                antes do acesso ou utilização de determinados serviços ou conteúdos.
            </p>
            
            <h2 class='page-subtitle'>CONDIÇÕES DE ACESSO</h2>

            <p>De maneira geral, não é exigida a prévia inscrição do USUÁRIO para
            o acesso ao conteúdo ou utilização dos serviços, entretanto, o DIÁRIO DA
            ILHA condiciona a utilização de alguns serviços ao registro de nome, e-mail e
            telefone do USUÁRIO.</p>

            <p>Toda informação fornecida pelo USUÁRIO deverá ser verdadeira. Assim,
            o Usuário garante a autenticidade de todos os dados que informar através do
            preenchimento dos respectivos formulários. Desta forma, é de responsabilidade
            do USUÁRIO manter toda a informação fornecida ao DIÁRIO DA ILHA de
            forma que sempre reflita os dados reais do USUÁRIO. Em todo o caso, o
            USUÁRIO será o único responsável pelas declarações falsas ou inexatas que
            prestar e que vierem a causar prejuízos ao DIÁRIO DA ILHA ou a terceiros.</p>

            <p>O DIÁRIO DA ILHA poderá enviar e-mails ao USUÁRIO para fins de
            atendimento ao cliente ou informações relevantes ao uso de serviços, mas não
            serão enviadas informações relativas a marketing ou publicidade.
            </p>

           <p> USUÁRIOS menores de idade devem obter prévia permissão de
               seus pais, tutores ou representantes legais, os quais serão considerados
               responsáveis por todos os atos praticados pelos menores.
           </p>

            <p>Pais, tutores ou representantes legais de menores serão plenamente
                responsáveis pelos conteúdos e Serviços utilizados pelos menores de idade.
                Uma vez que a Internet possibilita o acesso a conteúdos que podem não ser
                apropriados a menores, o DIÁRIO DA ILHA destaca que existem mecanismos,
                especialmente de realização de buscas, que permitem limitar os conteúdos
                disponíveis aos menores, sendo de grande utilidade para controlar e restringir o
                acesso, embora não sejam infalíveis.
            </p>

            <p>Caso alguma página do site DIARIODAILHA.COM.BR contenha links
            para sites de terceiros, o USUÁRIO está ciente e concorda que se submeterá
            às regras e riscos existentes e que o DIÁRIO DA ILHA não é responsável pelo
            conteúdo e regras de tais sites.</p>

            <p>O acesso e uso do DIÁRIO DA ILHA é gratuito, portanto qualquer
                tipo de cobrança é ilegal e não autorizada. A veiculação de publicidade ou
                disponibilização de ferramentas criadas pelo DIÁRIO DA ILHA poderá ser
                cobrada, conforme Condições Particulares, caso a caso.</p>

            <p>Qualquer referência a material divulgado pelo DIÁRIO DA ILHA deverá
                obrigatoriamente fazer menção ao DIÁRIO DA ILHA, sendo que o acesso a tal
                material deverá ser feito por meio das ferramentas disponibilizadas por este
                site.
            </p>

            <p>Por razões técnicas e operacionais, o DIÁRIO DA ILHA não pode
            garantir a disponibilidade e continuidade do funcionamento do site e dos
            serviços. Quando possível, o DIÁRIO DA ILHA advertirá previamente as
            interrupções de funcionamento. O DIÁRIO DA ILHA também não garante
            sua utilidade para a realização de qualquer atividade em concreto, nem sua
            infalibilidade</p>

            <h2 class='page-subtitle'>OBRIGAÇÕES</h2>

            <p>O USUÁRIO se compromete a utilizar o site DIARIODAILHA.COM.BR
                seus conteúdos e Serviços em conformidade com a lei, com o disposto
                neste Termo de Uso, com as respectivas Condições Particulares de certos
                Serviços, e demais avisos, regulamentos de uso e instruções levados ao
                seu conhecimento, bem como com a ordem pública, moral e bons costumes
                geralmente aceitos pela sociedade, em particular, compromete-se a não:
            </p>

            <ul class='terms-list'> 
                <li>(a) reproduzir, copiar, distribuir, permitir o acesso público, transformar
                    ou modificar os Conteúdos, a menos que possua a prévia autorização do titular
                    dos correspondentes direitos ou que seja legalmente permitido;
                </li>
      
                <li>(b) suprimir, manipular ou de qualquer forma alterar os dados de
                    identificação e direitos do DIÁRIO DA ILHA ou de seus titulares, assim como os
                    dispositivos técnicos de proteção, as marcas digitais ou quaisquer mecanismos
                    de informação que possam conter os Conteúdos;
                </li>
            </ul>

            <p>O USUÁRIO deverá abster-se de obter, ou tentar obter, os Conteúdos
                        através de meios distintos daqueles que, conforme o caso, tenham sido
                        disponibilizados para tais propósitos ou que, em geral, sejam empregados
                        habitualmente na Internet para tais fins.</p>

            <h2 class='page-subtitle'> SOBRE DIREITOS </h2>

            <p>O DIÁRIO DA ILHA não aprova atos de violação de privacidade e de divulgação de dados, informações de terceiros sem autorização.</p>

           <p> Quanto aos registros fotográficos da prática esportiva de surfistas,
                       amadores ou não, o DIÁRIO DA ILHA entende ser a praia um local público e
                       de acesso livre, onde estes surfistas buscam sua melhor performance para
                       satisfação própria e do público que ali os assistem. Portanto entendemos
                       que o simples fato de fotografar periodicamente a prática do surf não viola a
                       privacidade ou outro direito de quem quer que seja, uma vez que o local da
                       prática esportiva é público. Entretanto, como forma de envidar os melhores
                       esforços para proteger a privacidade e demais direitos alheios, o site
                       DIARIODAILHA.COM.BR além de poder utilizar recursos tecnológicos para
                       descaracterizar imagens, disponibiliza ferramentas de reclamação para aqueles
                       casos nos quais o USUÁRIO entender haver violação de seus direitos.</p>

            <p>Quem desejar reclamar qualquer violação de direitos, incluindo casos
                        em que sua imagem ou dados foram divulgados no DIÁRIO DA ILHA sem sua
                        autorização, deverá formalizar reclamação contendo ao menos os seguintes
                        dados:</p>

            <ul class='terms-list'>
                <li>(a) dados pessoais: nome, endereço, número de telefone e endereço de correio
                                eletrônico do reclamante;</li>
    
                <li>(b) especificação da suposta ilegalidade, com as informações precisas para
                                que seja possível identificar o material no qual é apontada a violação.</li>
    
                <li>(c) fatos ou circunstâncias que revelam o caráter ilícito, sendo que a
                                reclamação deverá conter informações detalhadas que permitam verificar a
                                identidade do reclamante e o momento da violação de sua privacidade ou de
                                outro direito.</li>
    
                <li>(d) declaração expressa e clara de que a utilização foi realizada sem o
                                consentimento do titular dos direitos supostamente infringidos.</li>
            </ul>

           <p> Não será considerada violação de direitos a divulgação de informações
                       ou conteúdo que não permitam a identificação das pessoas por terceiros, ainda
                       que a pessoa tenha se identificado facilmente no material.</p>

            <p>O DIÁRIO DA ILHA fará uma avaliação criteriosa da pertinência antes de
                        adotar qualquer conduta, podendo ou não remover o conteúdo e comunicar o
                        USUÁRIO que enviou a reclamação.</p>

            <p>Em qualquer caso, o site DIARIODAILHA.COM.BR não é responsável
                        por quaisquer danos que a divulgação, ainda que momentânea, do conteúdo
                        possa gerar, seja material ou moral. Os usuários do DIÁRIO DA ILHA, ao
                        usar o sistema, anuem com a ausência de responsabilidade civil ou criminal
                        do DIÁRIO DA ILHA e renunciam a todo e qualquer direito que possa atribuir
                        responsabilidade civil ou criminal ao DIARIODAILHA.COM.BR.</p>

            <p>Todas as notificações e comunicações por parte do USUÁRIO ao
                        DIÁRIO DA ILHA, consideram-se eficazes, para todos os efeitos, quando forem
                        dirigidas ao seguinte endereço eletrônico: juridico@diariodailha.com.br.</p>

           <p> Todas as notificações e comunicações por parte do DIÁRIO DA ILHA
                       ao USUÁRIO, considerar-se-ão eficazes, para todos os efeitos, quando se
                       realizarem em uma das seguintes formas:</p>

            <ul class='terms-list'>
                <li>(a) envio de carta ao domicílio do USUÁRIO quando este tiver fornecido um
                    endereço válido ao DIÁRIO DA ILHA;</li>
            
                <li>(b) envio de mensagem por correio eletrônico a qualquer dos endereços
                    fornecidos pelo USUÁRIO;</li>            

                <li>(c) comunicação telefônica ao número fornecido pelo USUÁRIO;</li>
                <li>(d) mediante mensagens surgidas nos Serviços ou conteúdos prestados pelo DIÁRIO DA ILHA;</li>
            </ul>

            <p>Qualquer dúvida sobre as regras ou sua interpretação para casos
                        específicos pode ser resolvida com uma consulta direta ao departamento
                        jurídico, no e-mail juridico@diariodailha.com.br.</p>

        </div>
    </div>
</div>