// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	background: url('bg_simples.png') #F0F8FF!important;
}

.header-fundo {
	background: url('bg_header.png') no-repeat;
	height: 230px;
	margin-left: -17%;
}
.page {
	margin-top: 10px;
	margin-left: 22%!important;
	width: 74%;

	.header {

		.logo {
			text-align: center;
		}

		.info-header {
			text-align: right;
			font-family: sans-serif;
			font-size: smaller;
			line-height: 30px;
			margin-right: 10px;
			margin-top: -7px;
			a {
				margin-left: 5px;
			}
		}

		.top-banner {
			text-align: center;
			height: 90px;
			line-height: 90px;
			background: lightblue;
			-webkit-border-radius: 15px;
			-moz-border-radius: 15px;
			border-radius: 15px;
		}
		
		.header-nav {
			margin-top: 10px;
		}

		.top-info {
			margin-top: 12px;
			text-align: center;
			background: orange!important;
			-moz-box-shadow: 1px 1px 1px #888;
			-webkit-box-shadow: 1px 1px 1px #888;
			box-shadow: 1px 1px 1px #888;
		}
	}

	.body {
		margin-top: 10px;
		min-height: 300px;
		background-color: white;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;

		.content {
			padding: 20px;
		}
	}
} 