// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a:visited.btn {
	color: black;
}
a:visited {
	&.btn-danger, &.btn-primary, &.btn-success {
		color: white;
	}
}

a:hover {
	background: transparent;
	color: black;
}
@font-face {
	font-family: bebas;
	src: url('bebas.otf'), url('bebas.ttf');
}
@font-face {
	font-family: trebuc;
	src: url('trebuc.ttf');
}
@font-face {
	font-family: trebuc;
	src: url('trebucbd.ttf');
	font-weight: bold;
}

h1, h2, h3, h4 {
	font-family: trebuc;	
}

$blue: #3399CC;
$lightblue: #33CCCC ;	
$lightgray: #D0D0D0; 
$borderradius: 8px;
$formgray: #F8F8F8;
$gray: #B0B0B0;

.wrapper {
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
}

body {
	background: url('bg_simples.png') #F0F8FF!important;
	font-family: sans-serif;
	.header-img {
		background: url('header.png') no-repeat;
		position: relative;
		float: center;
		margin-left: auto;
		margin-right: auto;
		height: 230px;
		margin-top: 10px;
	}
}


.footer {
	background: url("footer.png");
	height: 74px; /* .push must be the same height as .footer */
	p {
		text-align: center;
		padding-top: 45px;
		vertical-align: middle;
		font-size: smaller;
	}
}

.home-pics {
	background: url('home_bg.png') no-repeat;
	background-position-y: 100px;
	.carousel {
		margin-top: 140px;
	}
	.crop-small {
		cursor: pointer;
	}

	.hitem {
		visibility: hidden;
	}

}

.page {
	top: 0px;
	width: 1050px;
	position: absolute;
	text-align: center;
	margin-bottom: -74px;

	#home-more {

		.home-adver {
			margin-top: 18px;
			.banner {
				text-align: center;
				height: 97px;
				line-height: 93px;
				background: white;
				-webkit-border-radius: $borderradius;
				-moz-border-radius: $borderradius;
				border-radius: $borderradius;
			}
		}

		.home-pics {
			max-height: 600px;
			height: 600px;
			background-color: white;
			margin-top: 18px;
			-webkit-border-radius: $borderradius;
			-moz-border-radius: $borderradius;
			border-radius: $borderradius;
			padding: 10px 40px;
			.button {
				position: relative;
				width: 50px;
				height: 110px;
				top: 300px;
				cursor: pointer;
			}
			.left-button {
				background: url('home_left_button.png') no-repeat;
				float: left;
				margin-left: -40px;
			}
			.right-button {
				background: url('home_right_button.png') no-repeat;
				float: right;
				margin-right: -44px;
				width: 70px;	
			}
			.home-img {
				margin-top: 10px;
				.active-description {
					position: absolute;
					background-color: rgba(0, 0, 0, 0.4);
					border-radius: 10px;
					width: 143px;
					height: 143px;
					border: none;
					border: 3px solid $gray;
					border-radius: 10px;				
					.text {
						margin-top: 40%;
						text-align: left;
						margin-left: 10%;
						margin-right: 10%;
						.date {
							color: #cecece;
							font-size: smaller;
							line-height: 7px;
						}				
						.beach {
							color: white;
							.divider {
								margin-top: 10%;
								border-bottom: 1px solid white;
							}
						}							
					}
				}

			}
			.crop-small {
			}
			.crop-small img{
				/*width: 100%;*/
				height: auto;
				border-radius: 10px;
			}

			.description {
			}
			.big {
				width: 100%;
				height: 410px;
				margin-top: 10px;
				margin-bottom: 10px;
			}

		}
	}

	.custom9 {
		width: 68%;
	}

	.custom3 {
		width: 29%;
	}

	.header {
		.logo {
			text-align: center;
		}

		.info-header {
			text-align: right;
			font-family: "Trebuchet MS", trebuc, arial;
			font-size: 11px;
			line-height: 30px;
			margin-right: 10px;
			margin-top: -7px;
			padding-top: 10px;
			a {
				margin-left: 10px;
			}
		}

		.top-banner {
			text-align: right;
			height: 90px;
			img {
				width: 100%;
			}
			line-height: 90px;
			-webkit-border-radius: $borderradius;
			-moz-border-radius: $borderradius;
			border-radius: $borderradius;

		}
		
		.header-nav {
			position: absolute;
			margin-top: 25px;
			min-width: 752px;

			.nav-tabs > li > a, .nav-pills > li > a {
				padding-right: 7px;
				padding-left: 10px;
				margin-right: 12px;
				line-height: 14px;
			}
			a {
				color: white;
				font-size: 14px;
				font-family: "Trebuchet MS", trebuc, sans-serif;
				font-weight: bolder;
			}

			a:hover {
				background: transparent;
			}
			.first {
				margin-left: 12px;
			}

			.divider-vertical {
				border-left: 1px $lightgray solid;
				opacity: 0.5;
				min-height: 45px;
				margin-top: -10px;
			}
		}
	}

	.top-info {
		margin-top: 12px;
		margin-right: 2%;
		margin-left: 3.8%;
		text-align: center;
		background: #faa139; /* Old browsers */
		background: -moz-linear-gradient(top, #faa139 0%, #e29126 51%, #ce8419 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#faa139), color-stop(51%,#e29126), color-stop(100%,#ce8419)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #faa139 0%,#e29126 51%,#ce8419 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #faa139 0%,#e29126 51%,#ce8419 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #faa139 0%,#e29126 51%,#ce8419 100%); /* IE10+ */
		background: linear-gradient(to bottom, #faa139 0%,#e29126 51%,#ce8419 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faa139', endColorstr='#ce8419',GradientType=0 ); /* IE6-9 */
		-moz-box-shadow: 1px 1px 1px #888;
		-webkit-box-shadow: 1px 1px 1px #888;
		box-shadow: 1px 1px 1px #888;
		color: white;
		font-size: 14px;
		border-radius: 10px;
	}

	.body {

		margin-top: 10px;
		min-height: 400px;
		background-color: white;
		-webkit-border-radius: $borderradius;
		-moz-border-radius: $borderradius;
		border-radius: $borderradius;
		text-align: justify;

		h1.page-title {
			font-size: 26px;
			color: $blue;
		}

		.img-header {
			margin-top: 20px;
		}

		h1.page-subtitle {
			color: $gray;
			font-size: 26px;
		}

		h2.page-subtitle {
			font-size: 14px;
			color: $lightblue;
		}

		.content {
			padding: 10px 30px 30px 30px;
		}

		p.page-subsubtitle {
			font-weight: bold ;
			padding-bottom: 20px;
		}

		ul.terms-list {
		  list-style-type: none;
		  padding: 0;
		}

		.home {
			.divider {				
				height: 305px;
			  	position: relative;
			  	float: left;
			  	width: 4px;
				background: rgb(255,255,255); /* Old browsers */
				background: -moz-linear-gradient(top, rgba(255,255,255,1) 1%, rgba(242,242,242,1) 49%, rgba(255,255,255,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,255,255,1)), color-stop(49%,rgba(242,242,242,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(242,242,242,1) 49%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(242,242,242,1) 49%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(242,242,242,1) 49%,rgba(255,255,255,1) 100%); /* IE10+ */
				background: linear-gradient(to bottom, rgba(255,255,255,1) 1%,rgba(242,242,242,1) 49%,rgba(255,255,255,1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */			
				border-left: 1px solid white;
			}
			.wrapper {
				margin-left: -30px!important;
				margin-top: -10px;
				margin-bottom: -30px;
				border-top-left-radius: 10px;
				border-bottom-left-radius: 10px;
				background-color: #FAFAFA;
			}
			.news {
				padding-left: 20px;				
				padding-top: 10px;
				padding-right: 10px;
				min-height: 600px;

				
			  	h1.page-title {
					font-size: 16px;
					margin-bottom: -10px;
				}
				.top-divider {	
					margin-top: 20px;
					border-top: 1px dotted #ccc;
				}
				.new {
					margin-right: 10px;
					p {
						&.content {
							margin: 0;
							padding: 0;
							line-height: 0;
						}

						
						line-height: 18px;
						
					}

					.preview {
						line-height: 18px;
						margin-bottom: 15px;
					}


				}
				.action {
					text-align: right;
					padding-top: 20px;
					margin-bottom: 20px;
					a {
						color: white;
					}


				}
			}

			p.page-subsubtitle {
				margin-top: 20px;
			}
		}

		.about, .quem_somos {

			p {
				text-align: left;
				position: relative;				
			}

			.image-about {
				float: left;
				img.leftarrow {
					margin-right: -7%;
					margin-left: -7.3%;
					z-index: 1;
				}				
				img.rightarrow {
					margin-left: -1%;
					margin-right: -50px;
					z-index: 1;
				}
				img.main {
					z-index:2;
				}
			}
		}

		.contact {
			h1.page-title {
				color: $gray;
			}

			p {
				-webkit-margin-before: 0em;
				-webkit-margin-after: 0em;
				-webkit-margin-start: 0px;
				-webkit-margin-end: 0px;
			}


			div.contact-us {
				margin-top: 30px;

				.image-right {
					float: right;
					border-radius: 15px;
				}
				
				form {
					input {
						width: 300px;
						display: block;
						margin-bottom: 10px;
						height: 32px;
						border-radius: 15px;
					}
					input[type="image"] {
						height: 42px;
						width: 174px;
						margin-left: 140px;
					}
					.style-select {/*
						padding-left: 10px;
						line-height: 48px;
						width: 303px;
						height: 40px;
						margin-bottom: 10px;
						overflow: hidden;
						
						background: url('select-arrow.png') no-repeat right #ebebeb;
						-webkit-box-shadow: inset 2px 2px 3px #cecece;
						box-shadow: inset 2px 2px 3px #cecece;
					    border-radius: 15px;
					    border-color: transparent;
						select {
						    background-color: #ebebeb;
						    background: transparent;
						    font-size: 13px;
							width: 350px;
							height: 42px;
							margin-bottom: 10px;		
							border-top-right-radius: 15px;
							border-bottom-right-radius: 15px;
						}
							*/
					}
					textarea {
						width: 300px;
						height: 300px;
					}					
				}
			}
		}

		.work-with-us, .trabalhe_conosco {
			.send-curriculum {
				float: left;
				margin-right: 20px;
				width: 325px;				
				input {
					width: 303px;
					.block {
						display: block;
					}
				}
				input[type="image"] {
					height: 42px;
					width: 174px;
					float: right;
					margin-right: 8px;
				}
			}
		}

		.sign-up {
			.img-header {
				margin-top: 20px;
			}
			.info {
				margin-bottom: 30px;
			}
			form {
				input {
					display: block;
					margin-bottom: 10px;
					height: 32px;
					border-radius: 15px;
				}
			}
		}

		.albums-index {
			.row {
				margin-left: 1px;
				margin-bottom: -10px;

			}
			.photographer-info {				
				float: right;
				h1 {
					color: $blue;
					font-size: 32px;
					font-weight: bold;
				}
				p.edit {
					margin-top: -10px;
					text-align: right;
					text-decoration: underline;
					a {
						font-size: smaller;
						color: $gray;
					}
				}
			}

			a {
				color: $blue;
				text-decoration: underline;
			}

			a:hover {
				background-color: transparent;
				color: $blue;
			}

			.breadcrumb {
				margin-top: 25px;
				border-radius: 15px;
				.you-are-in {
					color: $gray;
				}
			}

			.description {
				a {
					height: 48px;
					width: 130px;
					position: absolute;
				}
				text-align: center;
				margin-top: 5px;
				margin-bottom: 5px;
				.name,
				.beach,
				.date {
					line-height: 14px;
					font-size: 12px;
				}
			}
			.crop img{
				width: 100%;
				height: 150px;	
			}
			.crop-small img{
				width: 100%;
				height: 130px;
				border-radius: 10px;
			}

			.albums {
				.album-row {
					margin-bottom: 20px;
				}
				.mouse-over {
					height: 130px;
					width: 130px;
					position: absolute;
				}
				.mouse-over:hover {
					background: url('mouseover.png') no-repeat center;
					background-color: rgba(55, 55, 55, 0.9);
					border-radius: 15px;
				};
				.link-edit {
					height: 140px;
					width: 65px;
					position: absolute;
				}
				.link-delete {
					float: right;
					height: 140px;
					position: absolute;
					width: 65px;
					margin-left:65px;
				}

				.mouse-over-big {
					width: 208px;
					height: 150px;
					position: absolute;
					.link-delete {
						float: right;
						height: 150px;
						position: absolute;
						width: 208px;
						margin-left: 0px;
					}
				}
				.mouse-over-big:hover {
					background: url('delete.png') no-repeat center;
					background-color: rgba(55, 55, 55, 0.9);
					border-radius: 10px;
				};



			}
		}
		

		.advertise {
			.emph {
				color: red;
			}

			h3 {
				font-size: 16px;
			}
		}
	}

	.full {
		margin-right: -2%;
	}

	.container-right {
		margin-bottom: 50px;

		[class *= 'banner'] {
			background-color: white;
			margin-top: 10px;
			margin-left: -15%;

			-webkit-border-radius: $borderradius;
			-moz-border-radius: $borderradius;
			border-radius: $borderradius;
			max-width: 299px;

			img {
				margin-left: auto;
				margin-right: auto;
				-webkit-border-radius: $borderradius;
				-moz-border-radius: $borderradius;
				border-radius: $borderradius;
			}
			
			p {
				text-align: center;				
			}

			div a.password-reminder {
				font-size: 12px;
				text-decoration: underline;
				color: #AAA;
			}

			div.form-right {
				margin-right: -5%;
				p.img-header {
					margin-left: 8%;
					margin-top: 10px;
					text-align: left;
				}
				form {
					input {
						margin-bottom: 3px;
						-moz-border-radius: 10px;
						-webkit-border-radius: 10px;
						border-radius: 10px;

					}
					a {
						font-family: sans-serif;
					}
					.actions {
						margin-top: 10px;
						.right {
							text-align: right;
							padding-right: 13%;
						}
					}
				}
			}

		
		}
		.banner-medium {
			max-height: 243px;
		}
		.banner-small {
			max-height: 85px;
		}

	}
} 

.form-inputs {
	vertical-align: middle;
	input {
		background: #f1f1f1; /* Old browsers */
		background: -moz-linear-gradient(top,  #f1f1f1 0%, #ececec 50%, #e5e5e5 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(50%,#ececec), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #f1f1f1 0%,#ececec 50%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #f1f1f1 0%,#ececec 50%,#e5e5e5 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #f1f1f1 0%,#ececec 50%,#e5e5e5 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #f1f1f1 0%,#ececec 50%,#e5e5e5 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

		-webkit-box-shadow: inset 2px 2px 3px #cecece;
		box-shadow: inset 2px 2px 3px #cecece;
        height: 30px;
        border-radius: 10px;
        border-color: transparent;
	}

	input.xbutton[type='image'] {
		height: auto;
		margin-top: -2px;
	}

	input.large {
		width: 500px;
	}


	::-webkit-input-placeholder {
		color: #666666;
		padding-left: 15px;
		font-family: georgia, sans-serif;
	    font-weight: lighter;
		font-size: 14px;
	}
	input:-moz-placeholder { 
		color:#666666;
		padding-left: 15px;
		font-size: 14px;
	    font-weight: 100;
	}
	input:-ms-input-placeholder {
	    color: #666666;
		padding-left: 15px;
		font-size: 14px;
	    font-family: georgia, sans-serif;
	    font-weight: lighter;

	}
}



.curriculum {
	div.custom_file_upload {
		width: 317px;
		height: 42px;
		cursor: pointer!important;

	}

	input.file {
		width: 317px;
		height: 42px;
		cursor: pointer;
	}

	div.file_upload {
		background: url('curriculo.png') no-repeat right;
		font-weight: bold;
		color: #FFF;
		text-align: center;
		padding-top: 8px;
		cursor: pointer!important;

	}
	div.file_upload:before {
		position: absolute;
		left: 0; right: 0;
		text-align: center;
		cursor: pointer;
	}

	div.file_upload input {
		position: relative;
		height: 42px;
		width: 317px;
		display: inline;
		cursor: pointer;
		opacity: 0;
	}
}

.photo-upload {
	div.custom_file_upload {
		width: 220px;
		height: 42px;
	}

	input.file {
		width: 70px;
		height: 42px;
	}

	div.file_upload {
		background: url('cadastre_photo_complete.png') no-repeat right;
		font-weight: bold;
		color: #FFF;
		text-align: center;
		padding-top: 8px;

	}
	div.file_upload:before {
		position: absolute;
		left: 0; right: 0;
		text-align: center;
	}

	div.file_upload input {
		position: relative;
		height: 31px;
		width: 70px;
		display: inline;
		cursor: pointer!important;
		opacity: 0;
		left: -70px;
		z-index: 9999;
	}
}

.photo-inside {
	div.custom_file_upload {
		width: 211px;
		height: 134px;
		cursor: pointer!important;

	}

	input.file {
		width: 211px;
		height: 134px;
		cursor: pointer;
	}

	div.file_upload {
		background: url('nova_foto.png') no-repeat right;
		font-weight: bold;
		color: #FFF;
		text-align: center;
		padding-top: 8px;
		cursor: pointer!important;

	}
	div.file_upload:before {
		position: absolute;
		left: 0; right: 0;
		text-align: center;
		cursor: pointer;
	}

	div.file_upload input {
		position: relative;
		height: 134px;
		width: 211px;
		display: inline;
		cursor: pointer;
		opacity: 0;
	}
}

.leform {
	background: #f1f1f1; /* Old browsers */
	background: -moz-linear-gradient(top,  #f1f1f1 0%, #ececec 50%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(50%,#ececec), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f1f1f1 0%,#ececec 50%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f1f1f1 0%,#ececec 50%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f1f1f1 0%,#ececec 50%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f1f1f1 0%,#ececec 50%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

	-webkit-box-shadow: inset 2px 2px 3px #cecece;
	box-shadow: inset 2px 2px 3px #cecece;
    height: 30px!important;
    border-radius: 10px;
    border-color: transparent;
}

.customStyleSelectBox {
	background: #f1f1f1; /* Old browsers */
	background: -moz-linear-gradient(top,  #f1f1f1 0%, #ececec 50%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(50%,#ececec), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f1f1f1 0%,#ececec 50%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f1f1f1 0%,#ececec 50%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f1f1f1 0%,#ececec 50%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f1f1f1 0%,#ececec 50%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	width: 291px;
	display: block;
	margin-bottom: 10px;
	border-radius: 10px;
	-webkit-box-shadow: inset 2px 2px 3px #cecece;
	box-shadow: inset 2px 2px 3px #cecece;
    height: 42!important;
    border-radius: 15px;
    border-color: transparent;
    padding-left: 22px;
    line-height: 42px;
}

.customStyleSelectBox.changed {
/* You can use this if you want a different style after user has made a selection */
}

/* on the next line we add a down arrow on the right to indicate that it is a select box */
.customStyleSelectBoxInner {
	background:url("select-arrow.png") no-repeat;
    border-radius: 15px;
	background-position: 100% 100%;
}
select {
    border-radius: 15px;
	width:314px;
}


.search {
	.img-header {
		float: right;
	}
	.xbutton {
		margin-top: 10px;
		float: right;
	}
	.crop-small img{
		width: 100%;
		border-radius: 10px;
	}
	.album-row {
		margin-bottom: 20px;
	}
	#basket_items {
		background: url("cart_amount_button.png") no-repeat;
		height: 38px;
		width: 50.5%;
		color: white;
		line-height: 39px;
		span {
			padding-left: 43px;
		}
	}
}

.search-result {
	.img-header {
		float: right;
	}
	.xbutton {
		margin-top: 10px;
		float: right;
	}
	.album-row {
		margin-bottom: 25px;
	}
	.description-buttons {
		margin-top: 5px;
		margin-bottom: 5px;
		text-align: center;
		.see {
			margin-right: 5px;
			margin-left: -5px;
		}
		.buy {
			margin-left: 5px;
			margin-right: -5px;
		}
	}

	.crop img{
		width: 100%; 
		height: 150px;
	}

	.results {
		span.emph {
			font-size: 15px;
			color: $gray;
		}

	}

	#basket_items {
		background: url("cart_amount_button.png") no-repeat;
		height: 38px;
		width: 50.2%;
		color: white;
		line-height: 39px;
		span {
			padding-left: 43px;
		}
	}

}

.largeinput {
	width: 90%;
}





.actions-form {
	float: right;
}	
.cadastro {
	margin-right: 7%;
}
.micrologin {
	margin-right: -11px;
}



.carousel {
    padding-top: 1px;
}

.modal-gallery {
	background-color: rgba(0, 0, 0, 0);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	width: 100%;
	border: none;
	overflow-y: hidden;
	overflow-x: hidden;
	.modal-body {
		overflow-y: hidden;
		overflow-x: hidden;

	}
}

hr {
	border:0;
	border-top: 2px solid $lightgray;
	height: 0;
}

.cart {
	.basket-row {
		padding-bottom: 15px;
		line-height: 100px;
	}
	.table {
		td {
			line-height: 100px;
			.numberinput {
				line-height: 100px;
			}
			.textinput {
			}
			p {
				vertical-align: text-top;
			}
			div.size {
				font-size: 10px;
				line-height: 35px;
				vertical-align: bottom;
			}
			div.price {
				font-size: 10px;
				line-height: 10px;
			}
			input {
				width: 30px!important;
				text-align: center;
				border-radius: 10px;
			}

			.delete {
				line-height: 100px;
			}
		}

		td.image-crop {
			width: 15%;
		}
	}
	.finish {
		width: 100%;
		text-align: right;
		.desc {
			width: 100%;
			text-align: right;
		}
		.large {
			line-height: 40px;
			min-height: 45px;
			min-width: 145px;
			font-weight: bolder;
			border: none;
			font-family: "Trebuchet MS", trebuc, sans-serif;
		}
		.buttons {}
	}
	.total {
		color: $gray;
	}
	.crop {
		width: 100px;
		height: 100px;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


.lupe {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	width: 139px;
	height: 127px;
	border: none;
	border: 3px solid $gray;
	border-radius: 5px;				
	.lupe-icon {
		float: right;
		height: 57px;
		width: 59px;
		cursor: pointer;
	}
	.text {
		margin-top: 40%;
		text-align: left;
		margin-left: 10%;
		margin-right: 10%;
		.date {
			color: #cecece;
			font-size: smaller;
			line-height: 7px;
		}				
		.beach {
			color: white;
			.divider {
				margin-top: 10%;
				border-bottom: 1px solid white;
			}
		}							
	}
}

.fake-basket-photo {	
	width: 211px;
	height: 145px;
	position: absolute;
	border-radius: 5px;				
}
.basket-photo {
	background-color: rgba(0, 0, 0, 0.4);
	border: 3px solid $gray;
	width: 211px;
	height: 145px;
	border-radius: 5px;	

	.text {
		margin-top: 20%;
		text-align: left;
		margin-left: 10%;
		margin-right: 10%;
		.date {
			color: #cecece;
			font-size: smaller;
			line-height: 7px;
		}	
		.photo-name {
			color: #cecece;
			font-size: small;
			line-height: 10px;
		}				
		.beach, .peak {
			color: white;
		}				
		.peak {
			margin-top: -5px;
		}			

		.divider {
			margin-top: 7%;
			margin-bottom: 7%;
			border-bottom: 1px solid white;
		}
	}
}
.basket-icon {
	float: right;
	height: 57px!important;
	width: 59px;
	cursor: pointer;
	z-index: 999;
	position: absolute;
	margin-left: 155px;
	padding-top: 3px;
}
.allsize {
	input {
		width: 100%;
	}
}

.left-align {
	text-align: left!important;
}


.news-carrousel {
	height: 220px;
	background-color: white;
	border-radius: 15px!important;
	margin-top: 12px;
	margin-right: 2%;
	margin-left: 3.8%;
	padding: 0;
	.crop{
		width: 100.1%;
		height: 220px;
		border-radius: 15px!important;
		overflow:hidden; /* this is important */
	}
	/* input values to crop the image: top, right, bottom, left */
	.crop img{
		width:100.1%;
		border-radius: 15px!important;		
	}
}


	.arrow {
		position: relative;
		width: 50px;
		height: 110px;
		top: 240px;
		cursor: pointer;
	}
	.left-button2 {
		background: url('leftarrow.png') no-repeat;
		float: left;
		margin-left: -30px;
	}
	.right-button2 {
		background: url('rightarrow.png') no-repeat;
		float: right;
		margin-right: -70px;
		width: 70px;	
	}

.notice {
	min-height: 500px;
}
.cwrapper {
	float: left;
	width: 410px;
	height: 300px;
	margin-bottom: 10px;
	img {
		width: 359px;
		border-radius: 15px;
		height: 282px;
	}
	.right-arrow2 {
		background: url('rightarrow.png') no-repeat;
		float: right;
		top: -121px;
		height: 110px;
		width: 50px;
		position: relative;
		left: -1px;
		cursor: pointer;
	}

}
.left-arrow2 {
	background: url('photo_zoom_left.png') no-repeat;
	float: left;
	height: 110px;
	width: 60px;
	top: 100px;
	position: relative;
	margin-left: -30px;
	cursor: pointer;
}

.carousel-caption {
	width: 80%;
	&#home-caption {
		width: 93%!important;
	}
	&#boletim-caption{
		width: 55.5%!important;
		margin-right: auto;
		margin-left: auto;
	}
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.center-carousel {
	margin-top: 30px;
}

.carousel-nav {
	padding-right: 45px;
	position: absolute;
	float: right;
	width: 100%;
	z-index: 2;
	margin-top: -33px;
	right: 0;
	a {
	  width: 22px;
	  height: 35px;
	  background: url('unselected_elipse.png') no-repeat;
	  text-indent: -9999px;
	  border: 0;
	  float: right;
	  margin-left: 5px;
	}
}
.carousel-nav a.active {
  background: url("selected_elipse.png") no-repeat;
}

.headline {
	margin-left: 20px!important;
}

#myCarousel {
	height: 220px;
	padding-top: 0px;
	margin-right: -1px;
}

#home-caption {
	position: absolute;
	height: 15px;
	width: 100%;
	top: 175px;
	line-height: 21px;
	text-align: left;
	padding-left: 55px;
	a {
		color: white;
	}
}


.headline {
	.new {
		position: relative;
		top: -100px;
	}
	.cwrapper {
		position: relative;
		width: 100%;
		&.push-top {
			top: -100px;
		}
		margin-bottom: -100px;
		img {
			margin-left: auto;
			margin-right: auto;
			width: 60%;
			height: 60%;
		}

		.right-arrow3 {
			background: url('rightarrow.png') no-repeat;
			top: -145px;
			height: 78px;
			width: 50px;
			position: relative;
			left: 80%;
			cursor: pointer;
			z-index: 2;
		}

		.left-arrow3 {
			background: url('photo_zoom_left.png') no-repeat;
			height: 90px;
			width: 60px;
			top: 43px;
			position: absolute;
			margin-left: 15px;
			cursor: pointer;
			z-index: 2;
		}		
		.carousel-caption {
			width: 52%!important;
			border-bottom-left-radius: 15px;
			border-bottom-right-radius: 15px;
			margin-left: 20%!important;
		}
	}
}

.boletim {
	.cwrapper2 {
		margin-bottom: 100px;
		position: relative;
		width: 100%;
		top: -110px;
		img {
			margin-left: auto;
			margin-right: auto;
			border-radius: 15px;
			width: 60%;
			height: 282px;
		}
		.right-arrow-bol {
			background: url("rightarrow.png") no-repeat;
			float: right;
			top: -18px;
			height: 110px;
			width: 50px;
			position: relative;
			left: -12.3%;
			cursor: pointer;
			z-index:2;
		}

	}
}

.left-arrow-bol {
	background: url('photo_zoom_left.png') no-repeat;
	float: left;
	height: 110px;
	width: 60px;
	top: 100px;
	position: relative;
	margin-left: 11%;
	cursor: pointer;
	z-index:2;
}