<h1 class="page-title">Trabalhe Conosco</h1>

<div class='work-with-us'>
	<%= render 'form' %>

			
	<p>Procuramos criar espaços e oportunidades para que cada pessoa dê o melhor de si, produzindo trabalhos com qualidade e originalidade. Buscamos oferecer possibilidades para desenvolvimento da carreira e crescimento profissional.</p> 
	<p>Todos os colaboradores são contratados inpidualmente, com pacote de benefícios.
		Contratamos também estagiários, autônomos e freelancers. Nosso objetivo é manter profissionais dentro de uma equipe em constante crescimento.</p>
	
	<p>Buscamos profissionais para:</p>
	
	<ul>
		<li>cargos técnicos (suporte e administração de redes, fotografia, edição de imagens e vídeos, programação, animação).</li>
		<li>cargos administrativos (secretaria, administração e comercial).</li>
	</ul>
</div>